# ---------------- Python ----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ---------------- Virtual Env ----------------
.venv/
venv/

# ---------------- Dataset (DO NOT PUSH IMAGES) ----------------
data/aircraft/images/
data/aircraft/labels/

# ---------------- Training outputs ----------------
output/
runs/
checkpoints/

# ---------------- Model weights ----------------
*.pt
*.pth

# ---------------- Large files ----------------
*.zip
*.tar
*.gz

# ---------------- VS Code ----------------
.vscode/

# ---------------- OS files ----------------
.DS_Store
Thumbs.db
