# ---------------- Python ----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ---------------- Virtual Env ----------------
.venv/
venv/

# ---------------- Dataset (DO NOT PUSH IMAGES) ----------------
data/Aero_dataset/
C:/Users/tsake/OneDrive/Desktop/datasets/
datasets/
data/aircraft/images/
data/aircraft/labels/
data/*_unzipped/

# ---------------- Training outputs ----------------
output/
outputs/
runs/
checkpoints/

# ---------------- Model weights ----------------
*.pt
*.pth

# ---------------- Large files ----------------
*.zip
*.tar
*.gz

# ---------------- Generated synthetic data ----------------
data/synth_*/

# ---------------- VS Code ----------------
.vscode/

# ---------------- OS files ----------------
.DS_Store
Thumbs.db
