name: CI

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  smoke-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
         python -m pip install --upgrade pip setuptools wheel
         pip install torch==2.4.1 torchvision==0.19.1 --index-url https://download.pytorch.org/whl/cpu

         # install clip separately (important)
         pip install --no-build-isolation git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1

         # install rest
         grep -v "clip @" requirements.txt > reqs.txt
         pip install -r reqs.txt



      - name: Compile smoke check
        run: |
          python -m compileall alphaction preprocess demo.py demo_image.py train_net.py test_net.py

      - name: Run smoke tests
        run: |
          python -m unittest discover -s tests -v
